.nav-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.nav-items
{
    display: flex;
    list-style-type: none;
    width: 200px;
    justify-content: space-between;
}

.active
{
    background-color: magenta;
    color: white;
}