<!-- @for(student of students; track students)
{
    <h2>The following details of student id {{student.id}}</h2>
    <p>{{$last}}</p>
    <h2>{{student.name}}</h2>
    <p>{{student.age}}</p>
    <p>{{student.email}}</p>
    <h3>{{student.grade}}</h3>
} -->

<hr> 
<h1>Contextual variables</h1>

@for(student of students; track students)
{
    @if ($even)
     {
        <div style="background-color: red;">
            <h2>The following details of student id {{student.id}}</h2>
            <p>{{$last}}</p>
            <h2>{{student.name}}</h2>
            <p>{{student.age}}</p>
            <p>{{student.email}}</p>
            <h3>{{student.grade}}</h3>
        </div>
     }
     @else {
        <div style="background-color: white; color: red;">
            <h2>The following details of student id {{student.id}}</h2>
            <p>{{$last}}</p>
            <h2>{{student.name}}</h2>
            <p>{{student.age}}</p>
            <p>{{student.email}}</p>
            <h3>{{student.grade}}</h3>
        </div>
     }
}